/*-- scss:rules --*/

/* Navbar / titre */
.quarto-dashboard .navbar,
.quarto-dashboard .navbar-brand {
  background-color: #1565C0 !important;
  color: white !important;
}

/* Altair radio buttons */
form.vega-bindings {
  position: absolute;
  top: 10px;
  right: 10px;
}
form.vega-bindings label {
  margin-right: 20px;
  font-size: 0.9rem;
}

/* Value boxes - titre en haut, valeur en bas */
.bslib-value-box .value-box-area {
  justify-content: flex-start;
  padding-top: 0.75rem;
}

.bslib-value-box .value-box-title {
  margin-top: 0;
  margin-bottom: auto;
}

.bslib-value-box .value-box-value {
  margin-top: auto;
  margin-bottom: 0.5rem;
}

.bslib-value-box .value-box-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}